.single-post{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    margin: 1rem 3rem;
}
.single-post-img{
    max-width: 100%;
    max-height: 400px;
    object-fit: contain;
    border-radius: 8px;
}
.single-post-title{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}
.single-post-content{
    font-size: 1.2rem;
    line-height: 1.6;
}